html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
  padding: 25px;
}

/* Сделать отступ снизу у логотипа 50 пикселей. */

.index-img-logo {
	/* max-width: 100%; */
  margin-bottom: 50px;
}

body {
	font-family: 'font', sans-serif;
}


.main-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

/* Сделать отступ снизу у дива со ссылками Indents и Modules - 50 пикселей. */

.div-modules-indents {
  margin-bottom: 50px;
}

/* Сделать ссылки Indents и Modules строчно-блочными,
 а также добавить внутренние отступы - сверху и снизу 24 пикселя, слева и справа 49 пикселей */

.div-modules-indents a{
  display: inline-block;
  padding: 24px 49px;
}


/* .modules-indents {
  display: inline-block;
  padding: 24px 49px;
} */

/* Обернуть все содержимое тега body в див с классом container, а также напишите для него следующие стили: */
.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

/* Сделать для всех параграфов страницы отступ снизу 40 пикселей, а также ширину 872 пикселя. */

p {
  margin-bottom: 40px;
  width: 872px;
}


/* Сделать ширину у параграфов внутри серых блоков 692 пикселя, а отступ снизу - 10 пикселей. */

.content-results p{
  margin-bottom: 10px;
  width: 692px;
}

/* Сделать отступ снизу у данных блоков 40 пикселей (чтобы соблюсти правила отступов - нужно сделать его у всех, кроме последнего). */

.content-results{
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom:40px ;
}

.content-results:last-child{
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom:0 ;
}

/* Сделать для главного заголовка сайта отступ снизу 40 пикселей. */

h1{
  margin-bottom: 40px;
}

/* Сделать для заголовков второго уровня отступ снизу 10 пикселей. */
/* Сделать для заголовков третьего уровня отступ снизу 10 пикселей. */

h2, h3{
  margin-bottom: 10px;
}

/* .content-results ul li{
  padding-bottom: 20px;
}

.content-results ul li:last-child{
  padding-bottom: 0;
} */


/*  Сделать для списка на странице внутренний отступ слева 15 пикселей, 
а для элементов списка (всех, кроме последнего) - отступ снизу 20 пикселей */
.content-results ul{
  padding-left: 15px;
}

.content-results ul li:not(:last-child){
  padding-bottom: 20px;
}


/* Сделать для элементов figure следующие стили:
строчно-блочность
отступ снизу 40 пикселей
ширину 872 пикселя */

/* .index-figure{
  margin-bottom: 0;
} */

figure{
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
}


/* Сделать для всех изображений страницы (кроме тех, которые находятся внутри figure) 
отступ снизу 40 пикселей. */

figure img{
  margin-bottom: 0;
}

img{
	/* max-width: 100%; */
  margin-bottom: 40px;
}