html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
  padding: 25px;
}

/* Сделать отступ снизу у логотипа 50 пикселей. */

.index-img-logo {
  margin-bottom: 50px;
}

body {
	/* font-family: 'font', sans-serif; */
  font-family: Arial, Verdana, sans-serif;
}


.main-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

/* Сделать отступ снизу у дива со ссылками Indents и Modules - 50 пикселей. */

.div-modules-indents {
  margin-bottom: 50px;
}

/* Сделать ссылки Indents и Modules строчно-блочными,
 а также добавить внутренние отступы - сверху и снизу 24 пикселя, слева и справа 49 пикселей */

.div-modules-indents a{
  display: inline-block;
  padding: 24px 49px;
  /* Сделать для ссылок Indents и Modules следующие стили:
  толщина шрифта 700
  размер шрифта 18 пикселей
  цвет  - #3f2aff */
  font-weight: 700;
  font-size: 18px;
  background-color:#3f2aff;
}


/* .modules-indents {
  display: inline-block;
  padding: 24px 49px;
} */

.index-download {
  font-weight: 700;
  font-size: 18px;
  color:#3f2aff;
  padding-left: 30px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}


/* Обернуть все содержимое тега body в див с классом container, а также напишите для него следующие стили: */
.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

/* Сделать для всех параграфов страницы отступ снизу 40 пикселей, а также ширину 872 пикселя. */

p {
  margin-bottom: 40px;
  width: 872px;
  /* 2. Задать следующие стили для параграфов:
толщина шрифта 400
размер шрифта 20 пикселей
межстрочный интервал 32 пикселя
цвет текста #333 */
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.p-first-rule{
  /* 3. Текст “Исходя из этого, можно сразу сформулировать первый принцип” в статье выделен синим фоном. Добавьте этому параграфу еще один класс, к которому нужно прописать следующие стили:
радиус бордера 20 пикселей
внутренние отступы - сверху и снизу по 50 пикселей, слева и справа по 95 пикселей
ширину 100%
толщину шрифта 700
размер шрифта 30 пикселей
цвет текста - белый
цвет фона #3f2aff */
border-radius: 20px;
padding: 50px 95px;
width: 100%;
font-weight: 700;
font-size: 30px;
color: white;
background-color: #3f2aff;
}

/* Сделать ширину у параграфов внутри серых блоков 692 пикселя, а отступ снизу - 10 пикселей. */

.content-results p{
  margin-bottom: 10px;
  width: 692px;
}

/* Сделать отступ снизу у данных блоков 40 пикселей (чтобы соблюсти правила отступов - нужно сделать его у всех, кроме последнего). */

.content-results{
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom:40px ;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30% 100%;
}
  /* 4. Добавьте для серых блоков фоновое изображение справа.
Для этого добавьте каждому из блоков еще один класс,
в котором будет только свойство background-image.
А стили для позиционирования фона пропишите в основной класс. */

.content-results:last-child{
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom:0 ;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30% 100%;
}

/* 4. Добавьте для серых блоков фоновое изображение справа.
Для этого добавьте каждому из блоков еще один класс,
в котором будет только свойство background-image.
А стили для позиционирования фона пропишите в основной класс. */
.content-results-img1{
  background-image: url("../img/decorate-1.png");
}

.content-results-img2{
  background-image: url("../img/decorate-2.png");
}

/* Сделать для главного заголовка сайта отступ снизу 40 пикселей. */

h1{
  margin-bottom: 40px;
  /* 1. Задать следующие стили для главного заголовка:
толщина шрифта 400
размер шрифта 60 пикселей
межстрочный интервал 60 пикселей
цвет текста #333 */
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

/* Сделать для заголовков второго уровня отступ снизу 10 пикселей. */
/* Сделать для заголовков третьего уровня отступ снизу 10 пикселей. */

/* 8. Задайте для заголовков третьего уровня следующие стили:
толщина шрифта 400
размер шрифта 30 пикселей
межстрочный интервал 34 пикселя
цвет текста #333 */

h3{
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}
/* 5. Задайте для заголовков второго уровня следующие стили:
размер шрифта 40 пикселей
межстрочный интервал 46 пикселей
цвет текста #333 */
h2{
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}


/*  Сделать для списка на странице внутренний отступ слева 15 пикселей, 
а для элементов списка (всех, кроме последнего) - отступ снизу 20 пикселей */
.content-results ul{
  padding-left: 15px;
}

.content-results ul li:not(:last-child){
  padding-bottom: 20px;
}

/* 6. Сделайте правильный цвет точек у элементов списка.
Тут вам поможет псевдоэлемент ::marker. */
ul li::marker {
  color:#3f2aff;
}

/* 7. Задайте следующие стили для ссылок в содержании:
бордер снизу толщиной в 1 пиксель, сплошной, и цветом #3f2aff
размер шрифта 20 пикселей
цвет текста #3f2aff */

.paragraph{
  font-size: 20px;
  color:#3f2aff;
  border-bottom: 1px solid #3f2aff;;
  padding: 0;
  width: fit-content;
}


/* Сделать для элементов figure следующие стили:
строчно-блочность
отступ снизу 40 пикселей
ширину 872 пикселя */

/* 
9. Задайте для элементов figure следующее css-правило:
font-size: 0. Оно нужно, чтобы исправить отступ между
подписью и изображением. */

figure{
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}


/* Сделать для всех изображений страницы (кроме тех, которые находятся внутри figure) 
отступ снизу 40 пикселей. */

figure img{
  margin-bottom: 0;
}


/* 10. Задайте для описания изображения следующие стили
(можно использовать вложенность):бордер толщиной 1 пиксель,
сплошной, цвета #b6b6b6,при этом удалите бордер сверху
внутренний отступ сверху и снизу 19 пикселей 
толщина шрифта 400 размер
шрифта 14 пикселей выравнивание текста по центру */

figure figcaption{
  font-weight: 400;
  font-size: 14px;
  text-align: center ;
  border-right: 1px solid #b6b6b6;
  border-left: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  padding-top: 19px;
  padding-bottom: 19px;
}

img{
  margin-bottom: 40px;
}

.holder {
  width: 1170px;
  margin-top: 50px;
  margin-left: 375px;
  margin-right: 376px;
}

.holder h1 {
  color: #3F2AFF;
}

.logo-skillbox {
  display: block;
}

.card-desc {
  display: inline-block;
  width: 572px;
  height: 505px;
  border-style: solid;
}

.list-cards {
  margin-left: 0;
  padding-left: 0;
}

.list-cards ul {
  margin-left: 0;
  padding-left: 0;
}

.list-cards li{
  list-style-type: none;
  vertical-align: top
}

.list-cards h2 {
  color: #3F2AFF;
  ;
}

.main-page {
  color: #3f2aff;
}